<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos | MiniStore</title>

    <!-- Fonts/Icons -->
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,800;0,900;1,600&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- CSS -->
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/banner.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/menu.css">
    <link rel="stylesheet" href="css/produtos.css">
    <link rel="stylesheet" href="css/Footer.css">



</head>

<body id='body'>

    <!-- Menu -->
    <nav class="animate-up">
        <a href="/produtos"><button id="menu-btn-1" class="menu-btn">Produtos</button></a>
        <button id="menu-btn-2" class="menu-btn">Coleções</button>
        <a href="/">
            <div class="div-logo-img"><img src="/images/logo2.png"></div>
        </a>
        <button id="menu-btn-3" class="menu-btn">Quem Somos</button>
        <button id="menu-btn-4" class="menu-btn">Contato</button>
    </nav>

    <!-- Container Principal -->

    <div id="container">

        <nav id="search-nav" class="animate-up">
            <div class="search-container">
                <input type="text" id="edit_search" onkeyup="findProduct();">
                <div class="search-img"><img src="images/SearchBTN.png"></div>
            </div>
        </nav>


        <!-- Produtos -->
        <div class="products-container">
            {{#each miniatura}}
            <div class="product animate-up">

                <a href="/produto?prod_id={{this.prod_id}}">
                    <div class="image_prod">
                        <img src={{this.prod_image}} alt="Image-Name">
                    </div>
                </a>

                <div class="product-info">
                    <div>
                        <h3 class="prod_name">{{this.prod_name}}</h3>
                        <small>{{this.prod_name}}</small>
                    </div>
                    <p>R${{this.prod_price}}</p>
                </div>

                <a href="/cart?prod_id={{this.prod_id}}">
                    <button class="buy">Adicionar ao Carrinho</button>
                </a>

            </div>
            {{/each}}
        </div>

        <!-- footer -->
        <div class="footer animate-up">

            <div class="footer-title">
                <img src="images/logo2.png">
            </div>

            <div class="footer-info">


                <div class="info-content">
                    <h3>Nos siga</h3>
                    <ul>
                        <li>Facebook</li>
                        <li>Twitter</li>
                        <li>Instagram</li>
                        <li>Youtube</li>
                    </ul>
                </div>

                <div class="info-content">
                    <h3>Faça o Download do Nosso App</h3>
                    <p>Disponivel em aparelhos Apple e Android.</p>
                    <div class="store-apps">
                        <img src="images/NavBar/Logoapp.png"> <!-- playstore -->
                    </div>

                </div>

                <div class="info-content">
                    <h3>Links Uteis</h3>
                    <ul>
                        <li>Coupons</li>
                        <li>Blog Post</li>
                        <li>Return Policy</li>
                        <li>Join Affiliate</li>
                    </ul>
                </div>


            </div>

            <hr>
            <p class="copyright">Copyright@2020 - MiniStore</p>
        </div>


    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="scripts/produtos.js"></script>


</body>

</html>